<?xml version="1.0" encoding="GB2312" standalone="yes"?>
<SysConfig>
<IPInfo CtrlNet="eth0" CtrlPort="8001" DataNet="eth1">
<eth Name="eth0" IP="Modified" Netmask="255.255.255.0" Gateway="172.17.9.1"/>
<eth Name="eth1" IP="192.168.15.196" Netmask="255.255.255.0" Gateway="192.168.15.1"/>
</IPInfo>
<PostMulticast BoardCheckIP="224.1.1.2" BoardCheckPort="5001" ResourceIP="224.1.1.5" ResourcePort="5001"/>
<Resource Sum="32" Mpeg2SDNeeds="2" Mpeg2HDNeeds="4" H264SDNeeds="2" H264HDNeeds="4" H265SDNeeds="3" H265HDNeeds="6" AVSSDNeeds="4" AVSHDNeeds="8"/>
<BoardInfo OEM="bohui" CardID="123456789"/>
<TimeServerAddr IP="" Port="0"/>
</SysConfig>
